<div id='problem{{$index}}'>
    <div class="col-sm-10 col-md-10 question-container">
        <div class="question-content">
            <!--<span>第&nbsp;{{ $index+1 }}&nbsp;题&nbsp;/&nbsp;共&nbsp;{{ total }}&nbsp;题&nbsp;{{ problem.parent_id }}</span><br> -->
            <span>{{ problemIndex+$index+1 }}.&nbsp;<span class="question-type">({{ type }})</span></span>
            <span>{{ problem.title }}</span><br>
            <span mathjax-bind="body"></span><br>
        </div>

        <div class="singlefilling-text-container col-md-12">
            <input type='text' id='problem{{ problem.id }}'
                   class="font-size-small singlefilling-text-{{ problemResult }}"
                   name='choices_{{problem.id}}'
                   placeholder="填写答案"
                   ng-model='answer[problem.id]'
                   ng-change="writeAnswer(answer[problem.id])"
                   ng-disabled="submitted"/>
        </div>

        <div class="col-md-12 explanation-container pull-left font-size-small">
            <div ng-show="showHintBox">
                <div class="explanation-title">
                    <img src="resources/img/hint.png"/>&nbsp;&nbsp;&nbsp;提示
                </div>
                <div class="explanation-content">{{ hint }}</div>
            </div>

            <div ng-show='showExplanation'>
                <div class="explanation-title">
                    <img src="resources/img/answer.png"/>&nbsp;&nbsp;&nbsp;正确答案
                </div>
                <div class="explanation-content">{{ correct_answers }}</div>
                <div class="explanation-title" ng-show="hasExplanation()">
                    <img src="resources/img/explanation.png"/>&nbsp;&nbsp;&nbsp;题目解析
                </div>
                <div class="explanation-content" mathjax-bind="explanation"></div>
            </div>
        </div>
    </div>

    <div class="col-sm-2 col-md-2 ctrlBar">
        <div class="continue-btn" ng-hide='hideSubmitButton' class="submit-btn"
             ng-click='submitAnswer()'>
            <img ng-src="resources/img/{{ submitIcon }}.png"/>
        </div>
        <div class="continue-btn" ng-show='showContinueButton'
             ng-click='continueProblem()'>
            <img src="resources/img/next.png"/>
        </div>

        <div class="hint-btn" ng-show="showHintButton" ng-click="showHint()">
            <img src="resources/img/hint-button.png"/>
        </div>
    </div>
</div>

