<achievements>
    <div class="header-wrapper">
        <header class="achievements-header">
            <div class="achievements-back-button" ng-click="returnToSubject()">
                <img src="resources/img/back.png"/>
            </div>
            <span>成就陈列室</span>
        </header>

        <ul class="nav nav-tabs nav-justified font-size-small achievements-tab" id="achievementTab">
            <li class="active">
                <a href="#badges-tab">徽章
                    <span ng-show="completeDownload" class="achievements-stat">
                        {{ currentBadges }}/{{ badges.length }}
                    </span>
                </a>
            </li>
            <li>
                <a href="#awards-tab">奖励视频
                    <span ng-show="completeDownload" class="achievements-stat">
                        {{ currentAwards }}/{{ awards.length }}
                    </span>
                </a>
            </li>
        </ul>
    </div>

    <div class="achievements-container">
        <span class="loading-icon" ng-hide="completeDownload">
            <img src="resources/img/ajax-loader.gif"/>
        </span>

        <div class="tab-content" ng-show="completeDownload">
            <div class="tab-pane fade active in" id="badges-tab">
                <div ng-repeat="badge in badges">
                    <div class="col-md-4 badge-container media">
                        <div class="badge-icon">
                            <img class="media-object pull-left"
                                 ng-src="resources/img/badge-icons/{{ badgeName[badge.id] }}.png"/>
                        </div>
                        <div class="badge-content-{{ badgeStatus[badge.id] }}">
                            <span class="badge-title">{{ badge.title }}</span>

                            <div class="font-size-small">{{ badge.desc }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="awards-tab">
                <div class="col-md-4" style="padding-bottom: 15px;" ng-repeat="award in awards">
                    <div class="award-container" ng-click="enterAward(award.id)">
                        <div>{{ award.title }}</div>
                        <div class="font-size-small award-desc">{{ award.desc }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</achievements>