<div>
    <!-- Button trigger modal -->
    <div class="lesson-button-container-{{isFirst}} font-size-small"
         ng-click="showLessonDialogue()">
        <div class="{{ lessonIconClass }}">
            <img ng-src="resources/img/{{ lessonIcon }}.png"/>
        </div>
        <span class="lesson-button-title">{{ title }}</span>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="lessonModal-{{ id }}"
         tabindex="-1"
         role="dialog"
         aria-labelledby="lessonModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="lesson-container modal-content">
                <div class="lesson-header-{{ lessonState }}">
                    <img class="lesson-icon" ng-src="resources/img/{{ lessonStateIcon }}.png"/>
                    <span class="lesson-title font-size-big">{{ title }}</span>
                </div>
                <div class="lesson-body-enter" ng-show="startLesson">
                    <div ng-bind-html-unsafe="lesson.summary"></div>
                </div>
                <div class="lesson-body-review" ng-show="reviewLesson">
                    <!--<span>已经完成啦</span><br><br>
                    <span ng-show="showResult">答对 {{ lessonResultCount }} 题 正确率 {{ lessonResultPercent }} %</span><br> -->
                    <review ng-repeat="activity in activities"></review>
                </div>
                <div class="lesson-footer modal-footer">
                    <div ng-show="startLesson">
                        <button class="lesson-enter-button-{{ lessonState }} col-md-4 col-md-offset-4"
                                ng-click="enterActivity(lessonId)">{{buttonMsg}}
                        </button>
                    </div>
                    <div ng-show="reviewLesson">
                        <button class="lesson-enter-button-review col-md-4 col-md-offset-1"
                                ng-click="enterActivity(lessonId)">复习
                        </button>
                        <button style="display: none    "
                                class="lesson-enter-button-review col-md-4 col-md-offset-2 pull-left"
                                ng-click="enterActivity(lessonId)">重做错题
                        </button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
