<subject>
    <div ng-hide="completeLoading">搏命加载中...</div>
    <div ng-show="completeLoading" class="subjects-container">
        <nav class="main-nav" id="main-nav">
            <span class="main-nav-label">选择科目</span>

            <div style="width: 50%" class="pull-left" ng-repeat="subject in subjects">
                <div class="subject-container" ng-click="enterSubject(subject.id)">
                    <img ng-src="resources/img/subjects-icon/subject-{{ subject.subject }}.png"/>
                    <span class="subject-title font-size-small">{{ subject.title }}</span>
                </div>
            </div>
        </nav>

        <div class="page-wrap" style="width:100%; left:{{ offsetWidth }}">
            <header class="main-header" style="width:100%; left:{{ offsetWidth }}">
                <a ng-click="showSubjectsNav()" class="open-menu">
                    <img src="resources/img/hamburg.png"/>
                </a>
                <span>{{ title }}</span>

                <div class="achievements-button" ng-click="enterAchievementCenter()">
                    <img src="resources/img/achievements-icon.png"/>
                    <span class="font-size-small">成就陈列室</span>
                </div>
            </header>

            <div class="subject-content">
                <div style="padding-top: 20px;" class="col-sm-3 col-md-3" ng-repeat="chapter in chapters">
                    <div class="chapters-container"
                         fast-click="enterChapter(chapter.id)">
                        {{ chapter.title }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</subject>