.lesson-button-container-false {
    width: 175px;
    height: 132px;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 20px;
}
.lesson-button-container-true {
    width: 350px;
    height: 132px;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 20px;
}

.lesson-button-container:active .lesson-button-title{
    background-color: #f2f2f2;
}

.lesson-button-container.lesson-primary{
    width:350px;
}

.lesson-primary-true{
    width: :350px;
}

.lesson-button-icon {
    height: 72px;
    text-align: center;
    overflow: hidden;
}

.lesson-button-icon-star3 {
    background-color: #ffcd5a;
    height: 72px;
    text-align: center;
    overflow: hidden;
}

.lesson-button-icon-star2 {
    background-color: #ccd4d4;
    height: 72px;
    text-align: center;
    overflow: hidden;
}

.lesson-button-icon-star2 img {
    margin-top: -15px;
}

.lesson-button-icon-star1 {
    background-color: #c27d57;
    height: 72px;
    text-align: center;
    overflow: hidden;
}

.lesson-button-icon-unlocked-false {
    background-color: #64b7e9;
    height: 72px;
    text-align: center;
    overflow: hidden;
}

.lesson-button-icon-unlocked-true {
    background-color: #7e6cdb;
    height: 72px;
    text-align: center;
    overflow: hidden;
}

.lesson-button-icon-unlocked img {
    margin-top: 6px;
}

.lesson-button-icon-locked {
    background-color: #cccccc;
    height: 72px;
    text-align: center;
    overflow: hidden;
}

.lesson-button-icon-locked img {
    margin-top: 6px;
    opacity: 0.5;
}

.lesson-button-title {
    display: block;
    padding: 5px;
    height: 60px;
    background-color: white;
    text-align: center;
    border-bottom: 2px solid #cccccc;
}

.lesson-container {
    border-radius: 0;
    height: 550px;
}

.lesson-header {
    width: 100%;
    height: 35%;
    color: white;
    text-align: center;
}

.lesson-header-locked {
    background-color: #cccccc;
    width: 100%;
    height: 35%;
    color: white;
    text-align: center;
}

.lesson-header-locked img {
    opacity: 0.8;
}

.lesson-header-unlocked {
    background-color: #64b7e9;
    width: 100%;
    height: 35%;
    color: white;
    text-align: center;
}

.lesson-header-unlocked img {
    opacity: 0.8;
}

.lesson-header-review {
    background-color: #ff9e74;
    width: 100%;
    height: 35%;
    color: white;
    text-align: center;
}

.lesson-icon {
    margin-top: -30px;
}

.lesson-title {
    display: block;
    /*line-height: 2.25em;*/
}

.lesson-body {
    width: 100%;
    height: 48%;
    overflow-y: scroll;
}

.lesson-body-enter {
    padding: 20px 30px 0 30px;
    width: 100%;
    height: 48%;
    overflow-y: scroll;
}

.lesson-body-review {
    width: 100%;
    height: 48%;
    overflow-y: scroll;
}

.lesson-body-review tr {
 /*   line-height: 48px;*/
    display: block;
    width: 100%;
    margin-bottom: 1px;
    border-bottom : 1px solid #f2f2f2;
}

.lesson-body-review tr td {

    /*padding-left: 30px;*/
}

.lesson-footer {
    margin-top: 0;
    text-align: center;
}

.lesson-enter-button {
    border-width: 0 0 4px 0;
    height: 64px;
}

.lesson-enter-button-locked {
    color: #cccccc;
    background-color: #f2f2f2;
    border: none;
    border-width: 0 0 4px 0;
    height: 64px;
}

.lesson-enter-button-unlocked {
    color: white;
    background-color: #ff8b59;
    border-bottom: 4px solid #d9764c;
    border-width: 0 0 4px 0;
    height: 64px;
}
.lesson-enter-button-unlocked:active {
    background-color: #cc6f47;
}

.lesson-enter-button-review {
    color: black;
    background-color: #e5e5e5;
    border-bottom: 4px solid #cccccc;
    border-width: 0 0 4px 0;
    height: 64px;
}
.lesson-enter-button-review :active{
    background-color: #e5e5e5;
    border-bottom: 4px solid #999999;
}

/* lesson summary page */
.lesson-summary {
    height: 100%;
}

.lesson-summary-header {
    width: 100%;
    height: 25%;
}

.lesson-summary-body {
    width: 100%;
    height: 55%;
    overflow-y: scroll;
    text-align: center;
}

.lesson-summary-title {
    display: block;
    width: 100%;
    color: #ff8b59;
    line-height: 3.5em;
    font-size: 2.1em;
    margin-top: 45px;
}

.lesson-summary-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 15%;
    width: 100%;
    padding-top: 20px;
    text-align: center;
    background-color: #e5e5e5;
}

.back-button,
.play-button {
    width: 300px;
    margin-left:100px;
    height: 60px;
    color: white;
    text-align: center;
    background-color: #ff8b59;
    border-width: 0 0 4px 0;
    border-bottom: 4px solid #d9764c;
}