.subjects-container {
  height: 100%;
}

.subject-container {
  width: 128px;
  text-align: center;
  margin-top: 20px;
}
.subject-container:active {
  opacity: .5;
}
.subject-title {
  display: block;
  color: white;
  margin-top: 10px;
}
.main-header {
  background: #fd8b5e;
  padding: 10px 0 16px 15px;
  text-align: center;
  color: white;
  position: fixed;
  width: 100%;
  height: 56px;
  left: 0;
  transition: all 0.5s ease;
}
.main-header a {
  position: absolute;
  color: white;
}
.page-wrap {
  position: fixed;
  left: 0;
  float: right;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
}
.main-nav {
  position: absolute;
  top: 0;
  width: 25%;
  height: 100%;
  background: #504D65;
  overflow: hidden;
  transition: width 0.5s ease;
}
.main-nav-label {
  display: block;
  background-color: #38364b;
  height: 56px;
  color: white;
  text-align: center;
  padding: 11px 0 0 0;
  width: 100%;
}
.open-menu {
  display: block;
}
.open-menu:active {
  display: block;
  opacity: .5;
}
.subject-content {
  padding: 76px 20px 20px 20px;
  background-color: #e5e5e5;
  height: 100%;
}
.chapters-container {
  background-color: white;
  border-bottom: 3px solid #b7b7b7;
  height: 120px;
  padding: 15px 0 0 15px;
}
.chapters-container:active {
  background-color: #f2f2f2;
}

.download-container {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px 15px 0 15px;
  text-align: center;
  color: #65b8ea;
  width: 100%;
  height: 48px;
}
.download-canvas {
  background-color: #f2f2f2;
  height: 100%;
}
