<subject>
    <test>
        <div>
            <span>chapter id：</span><input ng-model="chapterId"/>
            <button fast-click="checkChapter()">开始检查</button>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>LessonId</th>
                <th>lessonName</th>
                <th>lessonName</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="lesson in lessons">
                <td>{{ lesson.id }}</td>
                <td>{{ lesson.title }}</td>
                <td>
                    <button fast-click="check('{{lesson.id}}')">检查</button>
                </td>
            </tr>
            </tbody>
        </table>

        <div>
            <span>填写lesson的id：</span><input ng-model="lessonId"/>
            <button fast-click="checkLesson()">开始检查</button>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Type</th>
                <th>Scope</th>
                <th>Element ID</th>
                <th>Content</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="error in errors">
                <td>{{ error.type }}</td>
                <td>{{ error.scope }}</td>
                <td>{{ error.id }}</td>
                <td>{{ error.content }}</td>
            </tr>
            </tbody>
        </table>
        <div>Lesson json:</div>
        <pre>{{ lessonJSON | json }}</pre>

        <div>Chapter json:</div>
        <pre>{{ chapterJSON | json }}</pre>
    </test>
</subject>
